[Desktop Entry]
Version=1.0
Name=Powerwash
Comment=Run powerwash script
Exec=konsole -e /etc/nixbook/powerwash_lite.sh
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;Utility;
